body {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

nav {
	display: block;
	overflow: hidden;
	background-color: #EBE8E4;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

nav ul li:hover {
	background-color: #ECE9E5;
}

nav>ul>li>a {
	color: #aaa;
	display: block;
	line-height: 56px;
	padding: 0 24px;
	text-decoration: none;
}